
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => "Perfil" %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<%= link_to "Voltar", :back , :class => "btn btn-primary bt-show"%>

<br>
<br>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Atualizar Dados
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">

                      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <%= devise_error_messages! %>

                        <div class="form-group">
                          <%= f.label :name %><br />
                          <%= f.text_field :name, autofocus: true, :class => "form-control" %>
                        </div>

                        <div class="form-group">
                          <%= f.label :university %><br />
                          <%= f.text_field :university, :class => "form-control" %>
                        </div>


                        <div class="form-group">
                          <%= f.label :phone %><br />
                          <%= f.phone_field :phone, :class => "form-control" %>
                        </div>

                        <div class="form-group">
                          <%= f.label :email %><br />
                          <%= f.email_field :email, :class => "form-control" %>
                        </div>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>

                        <div class="form-group">
                          <%= f.label :password %> <i>(manter em branco para não alterar)</i><br />
                          <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
                        </div>

                        <div class="form-group">
                          <%= f.label :password_confirmation %><br />
                          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
                        </div>

                        <div class="form-group">
                          <%= f.label :current_password %> <i>(senha necessária para atualizar os dados)</i><br />
                          <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
                        </div>

                        <div class="actions">
                          <%= f.submit "Atualizar", :class => "btn btn-primary bt-show"%>
                        </div>
                      <% end %>

                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cancelar a conta
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                      <p>Aviso: A ação não poderá ser desfeita.</p>
                      <br>
                      <%= button_to "Cancelar conta", registration_path(resource_name), data: { confirm: "Apagar sua conta?" }, method: :delete, :class => "btn btn-primary bt-show" %>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
