<div class="row">
  <div class="col-lg-12">
     <h1 class="page-header">Registro de Usuário</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-md-12">
     <div class="panel panel-default">
        <div class="panel-heading">
            Novo Usuário
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "Digite seu nome" %>
                </div>

                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: "form-control", placeholder: "Digite seu e-mail" %>
                </div>

                <div class="form-group">
                  <%= f.label :university %>
                  <%= f.text_field :university, class: "form-control", placeholder: "Digite sua Universidade" %>
                </div>

                <div class="form-group">
                  <%= f.label :phone %>
                  <%= f.text_field :phone, class: "form-control", placeholder: "Digite seu telefone" %>
                </div>

                <div class="form-group">
                <label>Nível de Acesso</label>
                  <div class="checkbox">
                    <label>
                      <%= f.check_box :is_professor %> É professor?
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Digite sua senha" %>
                  <% if @minimum_password_length %>
                    <p class="help-block">Tamanho mínimo: <%= @minimum_password_length %> caracteres</p>
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirme sua senha" %>
                </div>

                <div class="actions">
                  <%= f.submit "Registre-se", class: "btn btn-primary bt-show" %>
                  <div style="padding-top: 6px;">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
     </div>
     <!-- /.panel -->
  </div>
  <!-- /.col-md-12 -->

</div>
<!-- /.row -->
