<%= form_for(@task) do |f| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :due_date %><br>
    <%= f.datetime_select :due_date %>
  </div>

  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([["Selecionar estado", ""], "Pendente", "Em andamento", "Concluída"], @task.status), :class => 'form_control' %>
  </div>

  <%= f.hidden_field :project_id, :value => @project.id %>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary bt-show" %>
  </div>

<% end %>
