<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => "Editar Tarefa" %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<p>
  <%= button_to "Detalhes do Tarefa", @task, :class => "btn btn-primary bt-show", :method => :get %>
  <%= button_to "Detalhes do Projeto", project_url(@project), :class => "btn btn-primary bt-show", :method => :get %>
</p>

<br>
<br>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dados do projeto
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                  <%= render 'form' %>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
