<%- model_class = Task -%>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Suas tarefas pendentes
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-1"><%= model_class.human_attribute_name(:id) %></th>
                                <th class="col-xs-2"><%= model_class.human_attribute_name(:title) %></th>
                                <th class="col-xs-2"><%= model_class.human_attribute_name(:description) %></th>
                                <th class="col-xs-2"><%= model_class.human_attribute_name(:due_date) %></th>
                                <th class="col-xs-1"><%= model_class.human_attribute_name(:status) %></th>
                                <th class="col-xs-3">Projeto</th>
                                <th class="col-xs-1">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @tasks_pending.each do |task| %>
                            <tr>
                              <td><%= task.id %></td>
                              <td><%= task.title %></td>
                              <td><%= task.description %></td>
                              <td><%= I18n.l task.due_date, format: :short %></td>
                              <td><%= task.status %></td>
                              <td><%= task.project.name %></td>
                              <td>
                                <%= link_to task do %>
                                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <% end %>
                                <%= link_to edit_project_task_path(task.project, task) do %>
                                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <% end %>
                                    <%= link_to task, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Suas tarefas em andamento
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-1"><%= model_class.human_attribute_name(:id) %></th>
                                <th class="col-xs-2"><%= model_class.human_attribute_name(:title) %></th>
                                <th class="col-xs-2"><%= model_class.human_attribute_name(:description) %></th>
                                <th class="col-xs-2"><%= model_class.human_attribute_name(:due_date) %></th>
                                <th class="col-xs-1"><%= model_class.human_attribute_name(:status) %></th>
                                <th class="col-xs-3">Projeto</th>
                                <th class="col-xs-1">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @tasks_in_progress.each do |task| %>
                            <tr>
                              <td><%= task.id %></td>
                              <td><%= task.title %></td>
                              <td><%= task.description %></td>
                              <td><%= I18n.l task.due_date, format: :short %></td>
                              <td><%= task.status %></td>
                              <td><%= task.project.name %></td>
                              <td>
                                <%= link_to task do %>
                                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <% end %>
                                <%= link_to edit_project_task_path(task.project, task) do %>
                                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <% end %>
                                    <%= link_to task, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Suas tarefas concluídas
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-1"><%= model_class.human_attribute_name(:id) %></th>
                                <th class="col-xs-2"><%= model_class.human_attribute_name(:title) %></th>
                                <th class="col-xs-2"><%= model_class.human_attribute_name(:description) %></th>
                                <th class="col-xs-2"><%= model_class.human_attribute_name(:due_date) %></th>
                                <th class="col-xs-1"><%= model_class.human_attribute_name(:status) %></th>
                                <th class="col-xs-3">Projeto</th>
                                <th class="col-xs-1">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @tasks_done.each do |task| %>
                            <tr>
                              <td><%= task.id %></td>
                              <td><%= task.title %></td>
                              <td><%= task.description %></td>
                              <td><%= I18n.l task.due_date, format: :short %></td>
                              <td><%= task.status %></td>
                              <td><%= task.project.name %></td>
                              <td>
                                <%= link_to task do %>
                                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <% end %>
                                <%= link_to edit_project_task_path(task.project, task) do %>
                                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <% end %>
                                    <%= link_to task, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
