<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => "Criar Tarefa" %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<%= button_to "Voltar", project_url(@project), :class => "btn btn-primary bt-show", :method => :get %>

<br>
<br>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Informações da tarefa
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                  <%= render 'form' %>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
