<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => 'Detalhes da Tarefa' %></h1>

    <%= button_to "Voltar", tasks_path, :class => "btn btn-primary bt-show", :method => :get %>
    <%= button_to "Editar Tarefa", edit_project_task_path(@task.project, @task), :class => "btn btn-primary bt-show", :method => :get %>
  </div>
  <!-- /.col-lg-12 -->
</div>

<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dados da Tarefa
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <p>
                      <strong>Title:</strong>
                      <%= @task.title %>
                    </p>

                    <p>
                      <strong>Description:</strong>
                      <%= @task.description %>
                    </p>

                    <p>
                      <strong>Due date:</strong>
                      <%= @task.due_date %>
                    </p>

                    <p>
                      <strong>Status:</strong>
                      <%= @task.status %>
                    </p>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <%= button_to "Adicionar Membro à Tarefa", new_task_member_path(@task), :class => "btn btn-primary bt-show", :method => :get %>
  </div>
  <!-- /.col-lg-12 -->
</div>

<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Membros nesta Tarefa
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="col-xs-1">Cód.</th>
                            <th class="col-xs-5">Nome</th>
                            <th class="col-xs-3">E-mail</th>
                            <th class="col-xs-2">Telefone</th>
                            <th class="col-xs-1">Apagar</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @task.members.each do |member| %>
                            <tr>
                              <td><%= member.user.id %></td>
                              <td><%= member.user.name %></td>
                              <td><%= member.user.email %></td>
                              <td><%= member.user.phone %></td>
                              <td>
                                <%= link_to task_remove_member_path(@task, member), method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Comentários [<%= @task.comments.count %>]
            </div>

            <div class="panel-body">
              <div class="form-group">
                  <%= form_tag task_add_comment_path(), method: :post do %>
                  <input class="form-control" name="title" style="margin-bottom: 4px" placeholder="Título do comentário..."></input>
                  <textarea class="form-control" rows="3" name="content" placeholder="Seu comentário..."></textarea>
                  <%= hidden_field_tag :id, :value => @task.id %>
                  <button class="btn btn-primary comments-bt" type="submit">
                      Enviar
                  </button>
                  <% end %>
              </div>

                <% @task.comments.order("comments.created_at desc").each do |comment| %>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= comment.member.user.name %> (<%= I18n.l comment.created_at, format: :short %>):
                    </div>
                    <div class="panel-body">
                        <h4><%= comment.title %></h4>
                        <%= comment.content %>
                        <br>
                        <br>
                    </div>
                  </div>
                <% end %>

            </div>
        </div>
    </div>
</div>
