<br>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                  <br>
                  <center><%= image_tag("logo_hz.png")  %></center>
                  <br>
                  <br>
                  <p class="about-desc">
                    O P-Manager é um gerenciador de projetos universitários desenvolvido com o intuito de auxiliar
                    os professores no acompanhamento das tarefas dos projetos, além do agendamento de eventos. Desenvolvido no
                    <b>Instituto Federal de Educação, Ciência e Tecnologia (IFPB)</b>, em parceria com a empresa <b>Bitmine Tech</b>, o
                    projeto foi idealizado por Carlos Danilo Miranda Regis. A primeira versão do P-Manager foi criada em Janeiro
                    de 2016.
                  </p>
                  <br>
                  <p>Desenvolvido por:</p>
                  <p>- Grupo de Processamento Digital de Sinais (GPDS/IFPB) &lt;<a href="http://www.gpdsifpb.com" target="_blank">Website</a>&gt;;</p>
                  <p>- Bitmine Tech &lt;<a href="http://www.bitmine.com.br" target="_blank">Website</a>&gt;;</p>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
