<div class="row">
    <h1 class="page-header"><%= t '.title', :default => "Dashboard" %></h1>

  <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Seus projetos
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                  <div>
                      <p>
                          <strong><%= @projects_pending_or_in_progress.count %> em espera/andamento</strong>
                          <span class="pull-right text-muted"><%= @projects_done %> concluído(s)</span>
                      </p>
                      <div class="progress progress-striped active">
                          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @projects_done_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @projects_done_percentage %>%">
                              <span class="sr-only"><%= @projects_done_percentage %>% Concluído(s) (success)</span>
                          </div>
                      </div>
                      <%= button_to "Ver projetos", projects_path, :class => "btn btn-primary bt-show bt-right", :method => :get %>
                  </div>
            </div>
          </div>
          <!-- /.panel-default -->
  </div>

  <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Suas tarefas
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                  <div>
                      <p>
                          <strong><%= @tasks_total - @tasks_done.count %> em espera/andamento</strong>
                          <span class="pull-right text-muted"><%= @tasks_done.count %> concluídas</span>
                      </p>
                      <div class="progress progress-striped active">
                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= @done_tasks_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @done_tasks_percentage %>%">
                              <span class="sr-only"><%= @done_tasks_percentage %> Concluído (success)</span>
                          </div>
                      </div>
                      <%= button_to "Ver tarefas", tasks_path, :class => "btn btn-primary bt-show bt-right", :method => :get %>
                  </div>
            </div>
        </div>
        <!-- /.panel-default -->
  </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Eventos do mês
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th class="col-xs-2"><%= Event.human_attribute_name(:title) %></th>
                          <th class="col-xs-2"><%= Event.human_attribute_name(:description) %></th>
                          <th class="col-xs-2"><%= Event.human_attribute_name(:date) %></th>
                          <th class="col-xs-2"><%= Event.human_attribute_name(:location) %></th>
                          <th class="col-xs-1"><%= Event.human_attribute_name(:kind) %></th>
                          <th class="col-xs-1"><%= Event.human_attribute_name(:is_private) %></th>
                          <th class="col-xs-1">Passou?</th>
                          <th class="col-xs-1">Ações</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @events.each do |event| %>
                          <tr>
                            <td><%= event.title %></td>
                            <td><%= event.description %></td>
                            <td><%= I18n.l event.date, format: :short %></td>
                            <td><%= event.location %></td>
                            <td><%= event.kind %></td>
                            <td><%= (event.is_private ? "Sim" : "Não") %></td>
                            <td><%= (event.date.to_i < Time.now.to_i ? "Sim" : "Não" ) %></td>
                            <td>
                              <%= link_to event do %>
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                              <% end %>
                              <% if current_user.owns_event?(event) %>
                                <%= link_to edit_event_path(event) do %>
                                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                <% end %>
                                <% if current_user.is_professor %>
                                  <%= link_to event, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                  <% end %>
                                <% end %>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->

                <%= button_to "Ver todos", events_path, :class => "btn btn-primary bt-show bt-right", :method => :get %>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
