<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group col-md-12">
      <%= f.label :name %><br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :email %><br>
      <%= f.email_field :email, :class => "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :phone %><br>
      <%= f.text_field :phone, :class => "form-control" %>
    </div>

    <div class="form-group col-md-12">
      <%= f.label :university %><br>
      <%= f.text_field :university, :class => "form-control" %>
    </div>

    <div class="form-group col-md-12">
      <label>Nível de Acesso</label>
      <div class="checkbox">
        <label>
          <%= f.check_box :is_professor %> É professor?
        </label>
      </div>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :password %> <i>(manter em branco para não alterar)</i><br />
      <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
    </div>

    <div class="actions col-xs-12">
      <%= f.submit :class => "btn btn-primary bt-show" %>
    </div>
<% end %>

