<%- model_class = User -%>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-sm-3">
    <% if current_user.is_professor %>
        <%= link_to 'Novo ' + model_class.model_name.human.titleize, new_user_path, class: 'btn btn-primary lonely_button' %>
    <% end %>
  </div>

  <div class="col-sm-9">
    <!-- TODO: Search User -->
  </div>
</div>

<div class="row projects_label">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= model_class.model_name.human.pluralize.titleize %>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th class="col-xs-1"><%= model_class.human_attribute_name(:id) %></th>
              <th class="col-xs-3"><%= model_class.human_attribute_name(:name) %></th>
              <th class="col-xs-2"><%= model_class.human_attribute_name(:email) %></th>
              <th class="col-xs-2"><%= model_class.human_attribute_name(:university) %></th>
              <th class="col-xs-2"><%= model_class.human_attribute_name(:phone) %></th>
              <th class="col-xs-1"><%= model_class.human_attribute_name(:is_professor) %></th>
              <% if current_user.is_professor %>
                <th class="col-xs-1">Ações</th>
              <% end %>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.university %></td>
                  <td><%= user.phone %></td>
                  <td><%= (user.is_professor) ? "Sim" : "Não" %></td>
                  <% if current_user.is_professor %>
                    <td>
                        <%= link_to edit_user_path(user) do %>
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        <% end %>
                        <%= link_to user, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        <% end %>
                    </td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
        <div class="col-md-12 text-center"><%= will_paginate @users, renderer: BootstrapPagination::Rails %></div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-6 -->
</div>
