<div class="row">
  <div class="col-lg-12">
     <h1 class="page-header">Esqueceu a senha?</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <div class="panel panel-default">
        <div class="panel-heading">
            Nova Senha
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
               <%= devise_error_messages! %>

                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Digite seu e-mail" %>
                </div>

                <div class="actions">
                  <%= f.submit "Resetar senha", class: "btn btn-default" %>
                </div>
              <% end %>

            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
     </div>
     <!-- /.panel -->
  </div>
  <!-- /.col-md-6 col-md-offset-3 -->

  <div class="col-md-6 col-md-offset-3">
    <%= render "devise/shared/links" %>
  </div>
  <!-- /.col-md-6 col-md-offset-3 -->

</div>
<!-- /.row -->

