<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location %><br>
    <%= f.text_field :location, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location_url %><br>
    <%= f.text_field :location_url, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :kind %><br>
    <%= f.select :kind, options_for_select([["Selecionar tipo", ""], "Congresso", "Minicurso", "Palestra", "Reunião", "Workshop"], @event.kind), :class => 'form_control' %>
  </div>

  <div class="form-group">
    <%= f.label :is_private %> <%= f.check_box :is_private %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary bt-show" %>
  </div>
<% end %>
