<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => "Editar Evento" %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<p>
  <%= button_to "Detalhes do Evento", @event, :class => "btn btn-primary bt-show", :method => :get %>
  <%= button_to "Lista de Eventos", events_path, :class => "btn btn-primary bt-show", :method => :get %>
</p>

<br>
<br>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dados do projeto
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <%= render 'form' %>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
