<%- model_class = Event -%>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<% if current_user.is_professor %>
    <%= link_to 'Novo ' + model_class.model_name.human.titleize, new_event_path, class: 'btn btn-primary lonely_button' %>
<% end %>

<div class="row projects_label">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Seus <%= model_class.model_name.human.pluralize.titleize %>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="col-xs-2"><%= model_class.human_attribute_name(:title) %></th>
                            <th class="col-xs-2"><%= model_class.human_attribute_name(:description) %></th>
                            <th class="col-xs-2"><%= model_class.human_attribute_name(:date) %></th>
                            <th class="col-xs-2"><%= model_class.human_attribute_name(:location) %></th>
                            <th class="col-xs-1"><%= model_class.human_attribute_name(:kind) %></th>
                            <th class="col-xs-1"><%= model_class.human_attribute_name(:is_private) %></th>
                            <th class="col-xs-1">Passou?</th>
                            <th class="col-xs-1">Ações</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @events.each do |event| %>
                            <tr>
                              <td><%= event.title %></td>
                              <td><%= event.description %></td>
                              <td><%= I18n.l event.date, format: :short %></td>
                              <td><%= event.location %></td>
                              <td><%= event.kind %></td>
                              <td><%= (event.is_private ? "Sim" : "Não") %></td>
                              <td><%= (event.date.to_i < Time.now.to_i ? "Sim" : "Não" ) %></td>
                              <td>
                                <%= link_to event do %>
                                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <% end %>
                                <% if current_user.owns_event?(event) %>
                                  <%= link_to edit_event_path(event) do %>
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                  <% end %>
                                  <% if current_user.is_professor %>
                                    <%= link_to event, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <div class="col-md-12 text-center"><%= will_paginate @events, renderer: BootstrapPagination::Rails %></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
