<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => "Adicionar usuário ao evento" %></h1>
    <%= button_to "Voltar", event_path(@event), :class => "btn btn-primary bt-show", :method => :get %>
  </div>
  <!-- /.col-lg-12 -->
</div>

<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Procurar membro para adicionar
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <%= form_tag new_event_user_path(@event), method: :get do %>
                  <div class="input-group custom-search-form">
                      <%= text_field_tag :query, @query, class: "form-control", placeholder: "Pesquisar por nome, e-mail ou instituição" %>
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                          <i class="fa fa-search"></i>
                        </button>
                      </span>
                  </div>
                <% end %>
                <br>

                <% if @query.present? and not @users.empty? %>

                  <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="col-xs-1">Cód.</th>
                            <th class="col-xs-4">Nome</th>
                            <th class="col-xs-2">E-mail</th>
                            <th class="col-xs-2">Instituição</th>
                            <th class="col-xs-1">Adicionar</th>
                          </tr>
                        </thead>

                        <tbody>

                          <% @users.each do |user| %>
                            <tr>
                              <td><%= user.id %></td>
                              <td><%= user.name %></td>
                              <td><%= user.email %></td>
                              <td><%= user.university %></td>
                              <%= form_tag add_event_user_path(@event, user), method: :post do %>
                                <td>
                                  <%= hidden_field_tag :user_id, user.id %>

                                  <button class="btn btn-primary" type="submit">
                                    <i class="fa fa-plus"></i>
                                  </button>
                                </td>
                              <% end %>
                            </tr>
                          <% end %>


                        </tbody>
                      </table>
                  </div>
                  <!-- /.table-responsive -->
                <% end %>

                <% if @query.present? and @users.empty? %>
                  <div class="alert alert-warning" role="alert">Nenhum usuário encontrado</div>
                <% end %>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>