
<%- model_class = Event -%>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => @event.title %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<%= button_to "Voltar", events_path, :class => "btn btn-primary bt-show", :method => :get %>

<br>
<br>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dados do evento
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                      <p>
                        <strong>Descrição:</strong>
                        <%= @event.description %>
                      </p>

                      <p>
                        <strong>Data:</strong>
                        <%= I18n.l @event.date, format: :short %>
                      </p>

                      <p>
                        <strong>Local:</strong>
                        <%= @event.location %>
                        <% if not @event.location_url.blank? %>
                          &lt;<a href="http://<%= @event.location_url %>" target="_blank"><%= @event.location_url %></a>&gt;
                        <% end %>
                      </p>

                      <p>
                        <strong>Tipo de evento:</strong>
                        <%= @event.kind %>
                      </p>

                      <p>
                        <strong>Tipo de acesso:</strong>
                        <%= (@event.is_private)? "Privado" : "Público" %>
                      </p>
                      <% if current_user.owns_event?(@event) %>
                        <p>
                          <%= button_to "Editar", edit_event_path(@event), :class => "btn btn-primary bt-show", :method => :get %>
                        </p>
                      <% end %>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

<% if @event.is_private %>
<div class="row">
  <div class="col-lg-12">
    <%= button_to "Adicionar Membro ao Evento", new_event_user_path(@event), :class => "btn btn-primary bt-show", :method => :get %>
  </div>
  <!-- /.col-lg-12 -->
</div>

<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Convidados para o evento
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="col-xs-1">Cód.</th>
                            <th class="col-xs-5">Nome</th>
                            <th class="col-xs-3">E-mail</th>
                            <th class="col-xs-1">Telefone</th>
                            <th class="col-xs-1">Universidade</th>
                            <th class="col-xs-1">Apagar</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @users.each do |user| %>
                            <tr>
                              <td><%= user.id %></td>
                              <td><%= user.name %></td>
                              <td><%= user.email %></td>
                              <td><%= user.phone %></td>
                              <td><%= user.university %></td>
                              <td>
                                <%= link_to event_remove_user_path(@event, user), method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<% end %>
