<%- model_class = Project -%>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-sm-3">
    <% if current_user.is_professor %>
      <%= link_to 'Novo ' + model_class.model_name.human.titleize, new_project_path, class: 'btn btn-primary lonely_button' %>
    <% end %>
  </div>

  <div class="col-sm-9">
    <%= form_tag projects_path, method: :get do %>
      <div class="input-group custom-search-form">
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Pesquisar projeto por nome" %>
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
              <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>
</div>

<div class="row projects_label">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= model_class.model_name.human.pluralize.titleize %> recentemente atualizados
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-xs-1"><%= model_class.human_attribute_name(:id) %></th>
                                <th class="col-xs-8"><%= model_class.human_attribute_name(:name) %></th>
                                <th class="col-xs-2"><%= model_class.human_attribute_name(:last_update) %></th>
                                <th class="col-xs-1">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @projects.each do |project| %>
                            <tr>
                              <td><%= project.id %></td>
                              <td><%= project.name %></td>
                              <td><%= I18n.l project.last_update, format: :short %></td>
                              <td>
                                <%= link_to project do %>
                                  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <% end %>
                                <% if current_user.is_manager?(project) %>
                                  <%= link_to edit_project_path(project) do %>
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                  <% end %>
                                  <%= link_to project, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                  <% end %>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <div class="col-md-12 text-center"><%= will_paginate @projects, renderer: BootstrapPagination::Rails %></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
