
<%- model_class = Task -%>

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => @project.name %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<%= button_to "Voltar", projects_path, :class => "btn btn-primary bt-show", :method => :get %>

<br>
<br>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Dados do Projeto
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                      <p>
                        <strong>Descrição:</strong>
                        <%= @project.description %>
                      </p>

                      <p>
                        <strong>Número de membros:</strong>
                        <%= @project.members.count %>
                      </p>

                    <p>
                      <div>
                          <p>
                              <strong><%= @tasks_total_count - @tasks_done.count %> tarefa(s) em espera/andamento</strong>
                              <span class="pull-right text-muted"><%= @tasks_done.count %> tarefa(s) concluída(s)</span>
                          </p>
                          <div class="progress progress-striped active">
                              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @done_tasks_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @done_tasks_percentage %>%">
                                  <span class="sr-only"><%= @done_tasks_percentage %>% Concluído (success)</span>
                              </div>
                          </div>
                      </div>
                    </p>

                      <p>
                        <% if current_user.is_manager?(@project) %>
                          <%= button_to "Editar", edit_project_path(@project), :class => "btn btn-primary bt-show", :method => :get %>
                          <%= button_to "Gerenciar Membros", project_members_path(@project), :class => "btn btn-primary bt-show", :method => :get %>
                        <% end %>
                      </p>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

<br>
<%= link_to 'Adicionar ' + model_class.model_name.human.titleize, new_project_task_path(@project), class: 'btn btn-primary' %>
<br>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= model_class.model_name.human.pluralize.titleize %> pendentes
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                          <tr>
                              <th class="col-xs-1"><%= Task.human_attribute_name(:id) %></th>
                              <th class="col-xs-2"><%= Task.human_attribute_name(:title) %></th>
                              <th class="col-xs-2"><%= Task.human_attribute_name(:description) %></th>
                              <th class="col-xs-2"><%= Task.human_attribute_name(:due_date) %></th>
                              <th class="col-xs-1"><%= Task.human_attribute_name(:status) %></th>
                              <th class="col-xs-3">Projeto</th>
                              <th class="col-xs-1">Ações</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% @tasks_pending.each do |task| %>
                          <tr>
                            <td><%= task.id %></td>
                            <td><%= task.title %></td>
                            <td><%= task.description %></td>
                            <td><%= I18n.l task.due_date, format: :short %></td>
                            <td><%= task.status %></td>
                            <td><%= task.project.name %></td>
                            <td>
                              <%= link_to task do %>
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                              <% end %>
                              <%= link_to edit_project_task_path(task.project, task) do %>
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                              <% end %>
                                  <%= link_to task, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

<br>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= model_class.model_name.human.pluralize.titleize %> em andamento
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                          <tr>
                              <th class="col-xs-1"><%= Task.human_attribute_name(:id) %></th>
                              <th class="col-xs-2"><%= Task.human_attribute_name(:title) %></th>
                              <th class="col-xs-2"><%= Task.human_attribute_name(:description) %></th>
                              <th class="col-xs-2"><%= Task.human_attribute_name(:due_date) %></th>
                              <th class="col-xs-1"><%= Task.human_attribute_name(:status) %></th>
                              <th class="col-xs-3">Projeto</th>
                              <th class="col-xs-1">Ações</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% @tasks_in_progress.each do |task| %>
                          <tr>
                            <td><%= task.id %></td>
                            <td><%= task.title %></td>
                            <td><%= task.description %></td>
                            <td><%= I18n.l task.due_date, format: :short %></td>
                            <td><%= task.status %></td>
                            <td><%= task.project.name %></td>
                            <td>
                              <%= link_to task do %>
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                              <% end %>
                              <%= link_to edit_project_task_path(task.project, task) do %>
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                              <% end %>
                                  <%= link_to task, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

<br>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= model_class.model_name.human.pluralize.titleize %> concluídas
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                          <tr>
                              <th class="col-xs-1"><%= Task.human_attribute_name(:id) %></th>
                              <th class="col-xs-2"><%= Task.human_attribute_name(:title) %></th>
                              <th class="col-xs-2"><%= Task.human_attribute_name(:description) %></th>
                              <th class="col-xs-2"><%= Task.human_attribute_name(:due_date) %></th>
                              <th class="col-xs-1"><%= Task.human_attribute_name(:status) %></th>
                              <th class="col-xs-3">Projeto</th>
                              <th class="col-xs-1">Ações</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% @tasks_done.each do |task| %>
                          <tr>
                            <td><%= task.id %></td>
                            <td><%= task.title %></td>
                            <td><%= task.description %></td>
                            <td><%= I18n.l task.due_date, format: :short %></td>
                            <td><%= task.status %></td>
                            <td><%= task.project.name %></td>
                            <td>
                              <%= link_to task do %>
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                              <% end %>
                              <%= link_to edit_project_task_path(task.project, task) do %>
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                              <% end %>
                                  <%= link_to task, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
