<div class="row">
  <div class="col-lg-12">
     <!-- <h1 class="page-header">Acesso Restrito</h1> -->
     <br>
     <br>
     <br>
     <center><%= image_tag("logo_hz.png")  %></center>
     <br>
     <br>
     <br>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <div class="panel panel-default">
        <div class="panel-heading">
            Login
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                  <%= f.label :email %>
                  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Digite seu e-mail" %>
                </div>

                <div class="form-group">
                  <%= f.label :password %>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Digite sua senha" %>
                </div>

                <% if devise_mapping.rememberable? -%>
                  <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <%= f.check_box :remember_me %>
                            <strong>Lembre-se de mim</strong>
                        </label>
                    </div>
                  </div>
                <% end %>

                <div class="actions">
                  <%= f.submit "Acessar", class: "btn btn-primary bt-show bt-right" %>
                </div>
              <% end %>

            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.panel-body -->
     </div>
     <!-- /.panel -->
  </div>
  <!-- /.col-md-6 col-md-offset-3 -->

  <div class="col-md-6 col-md-offset-3">
    <%= render "devise/shared/links" %>
  </div>
  <!-- /.col-md-6 col-md-offset-3 -->

</div>
<!-- /.row -->
