/*
 * This is a manifest file that'll be compiled into application.scss, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";
@import "metisMenu";
@import "morrisjs";
@import "startbootstrap-sb-admin-2/timeline";
@import "startbootstrap-sb-admin-2/sb-admin-2";
@import "index";

 .nav-logo {
   position: relative;
   float: left;
   height: 20px;
   margin-top: -2px;
   margin-right: 8px;
 }

 .sidebar-nav-welcome {
   position: relative;
   padding: 16px 16px 8px 16px;
 }

 .bt-show{
   float: left;
   margin-right: 10px;
 }

 .about-desc {
   text-align: justify;
 }

.lonely_button {
   margin-bottom: 10px !important;
}

.projects_label {
   margin-top: 10px !important;
}

.bt-right {
  float: right;
  margin-right: 0;
}

.comments-bt {
  margin-left: 0;
  margin-top: 10px;
}
