<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>P-Manager - Gerenciador de Projetos Universitários</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>

<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to(image_tag("logo_icon.png", class: "nav-logo") + "P-Manager", root_path, class: "navbar-brand") %>
    </div>
    <!-- /.navbar-header -->

  <% if user_signed_in? %>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <%= link_to destroy_user_session_path do %>
          <i class="fa fa-sign-out fa-fw"></i> Sair
        <% end %>
      </li>
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <!--<li class="sidebar-search">
            <div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                  <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
          </li> /-->
          <li class="fa sidebar-nav-welcome">
            <h5><span class="fa fa-comment fa-fw" aria-hidden="true"></span> Bem-vindo, <%= current_user.name.split(' ')[0] %>!</h5>
          </li>
          <li>
            <%= link_to dashboard_path do %>
              <i class="fa fa-home fa-fw"></i> Início
            <% end %>
          </li>

          <li>
            <%= link_to projects_path do %>
              <i class="fa fa-flask fa-fw"></i> Projetos
            <% end %>
          </li>

          <li>
            <%= link_to tasks_path do %>
              <i class="fa fa-tasks fa-fw"></i> Tarefas
            <% end %>
          </li>

          <li>
            <%= link_to events_path do %>
              <i class="fa fa-calendar fa-fw"></i> Eventos
            <% end %>
          </li>

          <li>
            <%= link_to users_path do %>
              <i class="fa fa-users fa-fw"></i> Usuários
            <% end %>
          </li>

          <li>
            <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user fa-fw"></i> Meu Perfil
            <% end %>
          </li>

          <li>
            <%= link_to about_path do %>
              <i class="fa fa-info-circle fa-fw"></i> Sobre
            <% end %>
          </li>

        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    <% end %>
  </nav>

  <div id="page-wrapper">
    <% if notice %>
      <br />
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <br />
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->



</body>

</html>
