<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <label>Tipo de membro: </label>
    <%= f.label :is_scholar, class: "checkbox-inline" %> <%= f.check_box :is_scholar %>
    <%= f.label :is_manager, class: "checkbox-inline" %> <%= f.check_box :is_manager %>
</div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary bt-show" %>
    <br>
  </div>
<% end %>
