<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t '.title', :default => "Gerenciar membros do projeto " %></h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<p>
<%= button_to "Detalhes do projeto", project_path(@project), :class => "btn btn-primary bt-show", :method => :get %>
<%= button_to "Adicionar membro", new_project_member_path(@project), :class => "btn btn-primary bt-show", :method => :get %>
</p>

<br>
<br>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Membros do projeto
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="col-xs-1">Cód.</th>
                            <th class="col-xs-4">Nome</th>
                            <th class="col-xs-2">E-mail</th>
                            <th class="col-xs-2">Telefone</th>
                            <th class="col-xs-1">É bolsista?</th>
                            <th class="col-xs-1">É gerente?</th>
                            <th class="col-xs-1">Apagar</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @members.each do |member| %>
                            <tr>
                              <td><%= member.user.id %></td>
                              <td><%= member.user.name %></td>
                              <td><%= member.user.email %></td>
                              <td><%= member.user.phone %></td>
                              <td><%= check_box_tag 'is_scholar', member.id, ((member.is_scholar) ? true : false), class: 'is_scholar-check' %></td>
                              <td>
                                <% if member.is_manager && @managers.count == 1 %>
                                    Sim
                                <% else %>
                                    <%= check_box_tag 'is_manager', member.id, ((member.is_manager) ? true : false), class: 'is_manager-check' %>
                                <% end %>
                              </td>
                              <td>
                                <% if current_user.is_manager?(@project) %>
                                  <%= link_to project_remove_member_path(@project, member), method: :delete, data: { confirm: 'Tem certeza?' } do %>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                  <% end %>
                                <% end %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
